.contenedorGaleria{
    width: 100%;
    height: 100%;
    position: relative;
}
.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 80px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,.7);
    text-align: center;
    font-weight: 700;
    position: absolute;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left: 5%;
    top: calc(50% - 70px);
}
.adelante{
    right: 2%;
    top: calc(50% - 70px);
}